.text_glitch:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

.text_glitch:after {
  animation: glitchBottom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

.text_glitch {
  animation: glitch 1s linear infinite;
}

.line_1,
.line_2,
.line_3,
.line_4,
.line_5,
.line_6,
.line_7,
.line_8,
.line_9,
.line_10,
.line_11 {
  white-space: nowrap; /* keep text in one line */
  overflow: hidden; /* hide text behind the cursor */
}

.line_1 {
  animation: animated-text__2 1s steps(30, end) 0.25s 1 normal both;
}

.line_2 {
  animation: animated-text__2 1s steps(30, end) 1s 1 normal both;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.line_3 {
  animation: animated-text__2 1s steps(30, end) 1s 1 normal both;
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.line_4 {
  animation: animated-text__2 1s steps(30, end) 1s 1 normal both;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.line_5 {
  animation: animated-text__2 1s steps(30, end) 1s 1 normal both;
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}

.line_6 {
  animation: animated-text__2 1s steps(30, end) 1s 1 normal both;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.line_7 {
  animation: animated-text__2 1s steps(30, end) 1s 1 normal both;
  -webkit-animation-delay: 1.75s;
  animation-delay: 1.75s;
}

.line_8 {
  animation: animated-text__2 1s steps(30, end) 1s 1 normal both;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.line_9 {
  animation: animated-text__2 1s steps(30, end) 1s 1 normal both;
  -webkit-animation-delay: 2.25s;
  animation-delay: 2.25s;
}

.line_10 {
  animation: animated-text__2 1s steps(30, end) 1s 1 normal both;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.line_11 {
  animation: animated-text__2 1s steps(30, end) 1s 1 normal both;
  -webkit-animation-delay: 2.75s;
  animation-delay: 2.75s;
}

@keyframes animated-text__2 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

@keyframes glitchBottom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}
